:root{
    /*sizing*/
    --xs: 2px;
    --sm: 4px;
    --md: 8px;
    --lg: 16px;
    --xl: 32px;
    --xxl: 64px;
    --xxxl: 128px;

    /*colors*/
    --blue: #254D70;
    --brown: #954C2E;
    --navy: #131D4F;
    --off-white: #EFE4D2;
    --black: #140701;
}

#controlButton{
    border-radius: 100%;
    border: none;
    background-image: linear-gradient(to bottom, var(--blue), var(--navy));
    width: var(--xl);
    height: var(--xl);
    padding: var(--sm);
    transition: all 0.3 ease;
}
#controlButton:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    cursor: pointer;
}